{% extends 'base.html.twig' %}

{% block title %}Hello AdventureController!{% endblock %}

{% block body %}
<style>

</style>

<div class="container align-items-center">
    <div class="row">
        <div class="col">
            <h1 class="text-center"> The Adventure Club</h1>
            <p class="text-center">Wij zijn Emma, Lisa, Alex en Mark</p>
            <p class="text-center">Dit is onze website waar wij verhalen delen over onze technlogische avonturen. Veel lees plezier!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">Beleef met ons de avonturen in techville.</p>
        </div>
    </div>

</div>
{% endblock %}
