{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="container align-items-center">
        <div class="row">
            <div class="col">
                <h1>Inloggen</h1>
                <p>vul je email en wachtwoord in.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="{{ path('login') }}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Email address</label>
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"/>
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" name="_password" class="form-control" id="Password"/>
                        <button type="hidden"  class="btn btn-primary">submit</button>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="hidden" name="_target_path" value="/redirect"/>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
